.container .subscribe h2, .container .subscribe h4, .container .subscribe .subscription .form-control .email, .container .subscribe .subscription .form-control button, .container .subscribe .subscription .form-control small, .container .copyright {
  font-weight: 300;
  font-family: Libre Franklin, sans-serif;
}

.container .subscribe .subscription .form-control button {
  font-weight: 600;
  font-family: Libre Franklin, sans-serif;
}

.container .subscribe h2 .style {
  font-weight: 700;
  font-family: Libre Franklin, sans-serif;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  font-size: 20px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.container .logo {
  width: 86px;
  height: 26px;
  padding: 50px 0;
}

.container .subscribe {
  text-align: center;
  line-height: 3em;
}

.container .subscribe h2 {
  font-size: 3rem;
  color: #969696;
}

.container .subscribe h2 .style {
  color: #151f29;
}

@media screen and (max-width: 768px) {
  .container .subscribe h2 {
    font-size: 2rem;
  }
}

.container .subscribe h4 {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.container .subscribe .subscription {
  position: relative;
  margin-bottom: 50px;
}

.container .subscribe .subscription .form-control .email, .container .subscribe .subscription .form-control button {
  border-radius: 50px;
  font-size: 1rem;
  padding: 20px;
}

.container .subscribe .subscription .form-control .email {
  width: 400px;
  border: 1px solid #c2d3ff;
  outline: none;
}

.container .subscribe .subscription .form-control .email::-webkit-input-placeholder {
  color: #969696;
}

.container .subscribe .subscription .form-control .email:-ms-input-placeholder {
  color: #969696;
}

.container .subscribe .subscription .form-control .email::-ms-input-placeholder {
  color: #969696;
}

.container .subscribe .subscription .form-control .email::placeholder {
  color: #969696;
}

@media screen and (max-width: 768px) {
  .container .subscribe .subscription .form-control .email {
    width: 90%;
    margin-bottom: 40px;
  }
}

.container .subscribe .subscription .form-control small {
  position: absolute;
  bottom: -50px;
  left: 20px;
  color: #ff5263;
}

@media screen and (max-width: 768px) {
  .container .subscribe .subscription .form-control small {
    bottom: 50px;
    left: 25%;
  }
}

.container .subscribe .subscription .form-control button {
  width: 200px;
  background: #4f7df3;
  border: none;
  color: #FFF;
  cursor: pointer;
  outline: none;
}

.container .subscribe .subscription .form-control button:hover {
  background: rgba(79, 125, 243, 0.849);
}

@media screen and (max-width: 768px) {
  .container .subscribe .subscription .form-control button {
    width: 90%;
  }
}

.container .subscribe .subscription .form-control.error input {
  border-color: #ff5263;
}

.container .subscribe .subscription .form-control.success input {
  border-color: rgba(79, 125, 243, 0.849);
}

.container .subscribe .subscription .form-control.success small {
  display: none;
}

.container .illustration {
  text-align: center;
}

.container .illustration img {
  width: 60%;
  height: auto;
  margin-bottom: 25px;
}

@media screen and (max-width: 768px) {
  .container .illustration img {
    width: 80%;
    margin-top: 25px;
    margin-bottom: 75px;
  }
}

.container .follow-on {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.container .follow-on .social {
  width: 50px;
  height: 50px;
  border: 1px solid #c2d3ff;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 20px;
  cursor: pointer;
}

.container .follow-on .social:hover {
  background-color: #4f7df3;
}

.container .follow-on .social:hover a {
  color: #fff;
}

.container .follow-on .social a {
  display: block;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #4f7df3;
}

.container .copyright {
  position: absolute;
  bottom: -25px;
  font-size: 0.9rem;
  color: #969696;
}
/*# sourceMappingURL=style.css.map */