$primaryBlue: hsl(223, 87%, 63%);
$primaryHoverBlue: hsla(223, 87%, 63%, 0.849);
$primaryPaleBlue: hsl(223, 100%, 88%);
$primaryLightRed: hsl(354, 100%, 66%);
$neutralGray: hsl(0, 0%, 59%);
$neutralDarkBlue: hsl(209, 33%, 12%);
%LibreFranklin300 {
    font-weight:300;
    font-family: Libre Franklin, sans-serif;
}
%LibreFranklin600 {
    font-weight: 600;
    font-family: Libre Franklin, sans-serif;
}
%LibreFranklin700 {
    font-weight:700;
    font-family: Libre Franklin, sans-serif;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container { //Main box
    font-size: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    .logo { //PING logo
        width: 86px;
        height: 26px;
        padding: 50px 0;
    }  //Top main content 
    .subscribe {
        text-align: center;
        line-height: 3em;
        & h2 {  //Title
            font-size: 3rem;
            @extend %LibreFranklin300;
            color: $neutralGray;
            .style{ // Black title word "soon !"
                color: $neutralDarkBlue;
                @extend %LibreFranklin700;
            }

            @media screen and (max-width:768px){
                font-size: 2rem;   
            }
        }
        & h4 { // Subtitle
            font-size: 1.2rem;
            @extend %LibreFranklin300;
            margin-bottom: 20px;
        }
        .subscription {
            position: relative;
            margin-bottom: 50px;
            .form-control {
                .email, & button {
                    border-radius: 50px;
                    @extend %LibreFranklin300;
                    font-size: 1rem;
                    padding: 20px;
    
                }
                .email {
                    width: 400px;
                    border: 1px solid $primaryPaleBlue;
                    outline: none;
                    &::placeholder {
                        color: $neutralGray;
                    }
                    @media screen and (max-width:768px){
                        width: 90%;
                        margin-bottom: 40px;
                    }
                }
    
                & small {
                    position: absolute;
                    bottom: -50px;
                    left: 20px;
                    color: $primaryLightRed;
                    @extend %LibreFranklin300;
                    @media screen and (max-width:768px){
                        bottom: 50px;
                        left: 25%;
                          
                    }
                }
                & button {
                    width: 200px;
                    background: $primaryBlue;
                    border: none;
                    color: #FFF;
                    @extend %LibreFranklin600;
                    cursor: pointer;
                    outline: none;
                    &:hover {
                        background: $primaryHoverBlue;
                    }
                    @media screen and (max-width:768px){
                        width: 90%;    
                    }
                }  
                &.error {
                    input {
                        border-color: $primaryLightRed;
                    }
                } 
                &.success {
                    input {
                        border-color: $primaryHoverBlue;
                    }
                    small {
                        display: none;
                    }
                }
            }
        }
    }
    .illustration {
        text-align: center;
        & img {
            width: 60%;
            height: auto;
            margin-bottom: 25px;
            
            @media screen and (max-width:768px){
                width: 80%;
                margin-top: 25px;
                margin-bottom: 75px;   
            }
        }
    }
    .follow-on {
        display: inline-flex;
        .social {
            width: 50px;
            height: 50px;
            border: 1px solid $primaryPaleBlue;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            margin: 0 20px;
            cursor: pointer;
            
            &:hover {
                background-color: $primaryBlue;

                a {
                    color: #fff;
                }
            }

            & a {
                display: block;
                align-self: center;
                color: $primaryBlue;
            }
        }
    }

    .copyright {
        position: absolute;
        bottom: -25px;
        font-size: 0.9rem;
        @extend %LibreFranklin300;
        color: $neutralGray;
    }
}
